<html>
	<head>
		<% include head.ejs %>
		<link rel="stylesheet" href="editor.css">
		<script type="text/javascript" src="interact.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.6.1/Sortable.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.6.1/Sortable.min.js"></script>
		<script type="text/javascript" src="editor.js"></script>
		<script type="text/javascript" src="bootstrap-colorpicker.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Source+Sans+Pro|Ubuntu" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Inconsolata|PT+Mono|Roboto+Mono" rel="stylesheet">
		<link href="bootstrap-colorpicker.css" rel="stylesheet">
	</head>
	<body>
		<% include sidemenu.ejs %>
		<% include navbar.ejs %>
		<br>
		<div class="row">
			<div class="col s12">
				<div class="row">
					<div class="tabs">
						<ul class="tabs">
							<li class="tab">
								<a class="active" href="#general">Generali</a>
							</li>
							<li class="tab">
								<a  href="#toolbar">Barra degli Strumenti</a>
							</li>
							<li class="tab">
								<a href="#command">Palette dei Comandi </a>
							</li>
							<li class="tab">
								<a href="#runtime">Vista in Esecuzione</a>
							</li>
							<li class="tab-button">
								<a target="_blank" class="blue waves-effect waves-light btn">Salva</a>
							</li>
							<li class="tab-button">
								<a target="_blank" class="blue waves-effect waves-light btn">Esporta</a>
							</li>
							<li class="tab-button">
								<a target="_blank" class="blue waves-effect waves-light btn">Anteprima</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				
				<div id="general" class="tab-content">
					
					<div class="row">
						<div class="col s6">
							<h5> Dati Progetto </h5>
							
							<div class="input-field">
								<input value="Progetto 1" id="first_name2" type="text" class="validate">
								<label class="active" for="first_name2">Nome</label>
							</div>
							<div class="input-field ">
								<textarea id="textarea1" class="materialize-textarea"></textarea>
								<label for="textarea1">Descrizione</label>
							</div>
							Vista predefinita:
							<div  class="input-field inline">
								<select>
									<option value="1" selected>Visuale Esecuzione</option>
									<option value="2" >Editor di Blocchi</option>
									<option value="3" disabled>Editor Python</option>
								</select>
								<label class="select-label"></label>
							</div>
							<br>
							
							
							<div class="row">
								<h5> Tipografia </h5>
								Grandezza Testo:
								<div  class="input-field inline">
									<select>
										<option value="1" selected>Piccolo</option>
										<option value="2">Medio</option>
										<option value="3">Grande</option>
									</select>
									<label class="select-label"></label>
								</div>
								<br>
								Modalità Daltonici
								<div  class="input-field inline">
									<select>
										<option value="1" selected>No</option>
										<option value="1">Deuteranomaly</option>
										<option value="2">Protanomaly</option>
										<option value="3">Protanopia</option>
									</select>
									<label class="select-label"></label>
								</div>
								<p>
									<input type="checkbox" id="caps_only" />
									<label for="caps_only">Solo Maiuscole</label>
								</p>
							</div>
							<div class="row">
								Carattere tipografico (<i>font</i>) dell'interfaccia:
								<form action="#">
									<p>
										<input name="group1" type="radio" id="test1" />
										<label style="font-family: 'Helvetica Neue'" for="test1">Helvetica Neue</label>
									</p>
									<p>
										<input name="group1" type="radio" id="test2" />
										<label style="font-family: 'Open Sans', sans-serif;" for="test2">Open Sans</label>
									</p>
									<p>
										<input name="group1" type="radio" id="test3"  />
										<label style="font-family: 'Lato', sans-serif;" for="test3">Lato</label>
									</p>
									<p>
										<input name="group1" type="radio" id="test4" />
										<label style="font-family: 'Ubuntu', sans-serif;" for="test4">Ubuntu</label>
									</p>
									<p>
										<input name="group1" type="radio" id="test5" />
										<label style="font-family: 'Source Sans Pro', sans-serif;" for="test5">Source Sans Pro</label>
									</p>
									<p>
										<input name="group1" type="radio" id="test6" />
										<label for="test6">TestMe (Alta leggibilità, indicato per dislessia)</label>
									</p>
									<p>
										<input name="group1" type="radio" id="test7" />
										<label for="test7">Open-Dyslexic (Alta leggibilità, indicato per dislessia)</label>
									</p>
								</form>
							</div>
							<div class="row">
								Carattere tipografico (<i>font</i>) dell'editor Python:
								<form action="#">
									<p>
										<input name="group2" type="radio" id="mono1" />
										<label style="font-family: 'Inconsolata'" for="mono1">Inconsolata</label>
									</p>
									<p>
										<input name="group2" type="radio" id="mono2" />
										<label style="font-family: 'PT Mono', sans-serif;" for="mono2">PT Mono</label>
									</p>
									<p>
										<input name="group2" type="radio" id="mono3"  />
										<label style="font-family: 'Roboto Mono', sans-serif;" for="mono3">Roboto Mono</label>
									</p>
								</form>
							</div>
						</div>
						<div class="col s6">
							<h5> Lingua </h5>
							<div class="row">
								Lingua Interfaccia
								<div class="input-field inline">
									<select>
										<option value="1" selected>Italiano</option>
										<option value="2">Inglese</option>
										<option value="3">Tedesco</option>
									</select>
									<label class="select-label"></label>
								</div>
								<br>
								Lingua predefinita Riconoscimento Vocale
								<div class="input-field inline">
									<select>
										<option value="1" selected>Italiano</option>
										<option value="2">Inglese</option>
										<option value="3">Tedesco</option>
									</select>
									<label class="select-label"></label>
								</div></div>
								<h5> Funzioni </h5>
								Visuali disponibili:
								<p>
									<input type="checkbox" id="featureEditorPython" />
									<label for="featureEditorPython">Editor Python</label>
								</p>
								<p>
									<input type="checkbox" id="featureEditorBlockly"  checked="true"/>
									<label for="featureEditorBlockly">Editor a Blocchi</label>
								</p>
								<p>
									<input type="checkbox" id="featureRuntimeView" />
									<label for="featureRuntimeView">Visuale in Esecuzione</label>
								</p>
								<br>
								<p>
									<input type="checkbox" id="allowEditsNavigation" />
									<label for="allowEditsNavigation">Permetti navigazione nella cronologia modifiche (Funzioni <b>Annulla</b> e <b>Ripeti</b>)</label>
								</p>
								<p>
									<input type="checkbox" id="showRuntimeWhenStart" />
									<label for="showRuntimeWhenStart">Passa alla Visuale Esecuzione ogni volta che viene eseguito il programma.</label>
								</p>
								<div class="row">
									Salva automaticamente
									<div class="input-field inline">
										<select>
											<option value="1" selected>Mai (Disabilitato)</option>
											<option value="2">Prima di ogni esecuzione</option>
											<option value="3">Ogni Minuto</option>
											<option value="4">Ogni 5 Minuti</option>
											<option value="5">Ogni 30 Minuti</option>
											<option value="6">Ogni Ora</option>
										</select>
										<label class="select-label"></label>
									</div>
									<br>
									Aggiorna cronologia modifiche
									<div class="input-field inline">
										<select>
											<option value="1" selected>Mai (Disabilitato)</option>
											<option value="2">Prima di ogni esecuzione</option>
											<option value="3">Ogni Minuto</option>
											<option value="4">Ogni 5 Minuti</option>
											<option value="5">Ogni 30 Minuti</option>
											<option value="6">Ogni Ora</option>
										</select>
										<label class="select-label"></label>
									</div></div>
									<p>
										<input type="checkbox" id="pyExportCheckbox" />
										<label for="pyExportCheckbox">Permetti di <b>visualizzare</b> il codice Python generato</label>
									</p>
									<p>
										<input type="checkbox" id="allowPythonEdit" />
										<label for="allowPythonEdit">Permetti di <b>modificare</b> il codice Python generato</label>
									</p>
									<br>
									<h5> Editor Python </h5>
									
									<form action="#">
										<div class="row">
											Editor Python
											<div class="input-field inline">
												<select>
													<option value="1" selected>Disabilitato</option>
													<option value="2">Base</option>
													<option value="3">Intermedio</option>
													<option value="4">Completo</option>
												</select>
												<label class="select-label"></label>
											</div>
										</div>
										<div class="row">
											Tema Editor
											<div class="input-field inline">
												<select>
													<option value="1" selected>Chiaro</option>
													<option value="2">Monokai</option>
													<option value="3">Dracula</option>
													
												</select>
												<label class="select-label"></label>
											</div>
										</div>
										<p>
											
											
										</p>
										
									</form>
								</div>
							</div>
							
							
						</div>
						
						<div id="toolbar" class="tab-content active">
							<div id="yes-drop" class="draggable drag-drop"> <i class="material-icons">menu</i> </div>
							<div id="yes-drop" class="draggable drag-drop"> Salva <a style="color:white" class="modal-trigger" href="#modalSave"><i class="material-icons right">edit</i></a> </div>
							<div id="yes-drop" class="draggable drag-drop"> Esegui</div>
							<div id="yes-drop" class="draggable drag-drop"> Simula </div>
							<div id="yes-drop" class="draggable drag-drop"> Aiuto </div>
							<div id="yes-drop" class="draggable drag-drop"> Cambia Visuale </div>
							<div id="inner-dropzone" class="dropzone">Trascina qui gli elementi da visualizzare nella barra superiore</div>
						</div>
						
						<div id="command" class="tab-content">
							<form action="#">
								<p>
									<input type="checkbox" class="filled-in" id="filled-in-box1" checked="checked" />
									<label for="filled-in-box1"><b>Logic</b></label>
								</p>
								<p>
									&nbsp; &nbsp;
									<input type="checkbox" class="filled-in" id="filled-in-box20" checked="checked" />
									<label for="filled-in-box20">Block 6</label>
								</p>
								<p>
									&nbsp; &nbsp;
									<input type="checkbox" class="filled-in" id="filled-in-box21" checked="checked" />
									<label for="filled-in-box21">Block 6</label>
								</p>
								<p>
									&nbsp; &nbsp;
									<input type="checkbox" class="filled-in" id="filled-in-box22" checked="checked" />
									<label for="filled-in-box22">Block 6</label>
								</p>
								<p>
									&nbsp; &nbsp;
									<input type="checkbox" class="filled-in" id="filled-in-box2" checked="checked" />
									<label for="filled-in-box2">Block 1<i class="material-icons right">color_lens</i><i class="material-icons right">edit</i></label>
								</p>
								<br>
								<p>
									<input type="checkbox" class="filled-in" id="filled-in-box3" checked="checked" />
									<label for="filled-in-box3"><b>Loops</b></label>
								</p>
								<p>
									&nbsp; &nbsp;
									<input type="checkbox" class="filled-in" id="filled-in-box4" checked="checked" />
									<label for="filled-in-box4">Block 2 <i class="material-icons right">settings</i></label>
								</p>
								<br>
								<p>
									<input type="checkbox" class="filled-in" id="filled-in-box5" checked="checked" />
									<label for="filled-in-box5"><b>Math</b></label>
								</p>
								<p>
									&nbsp; &nbsp;
									<input type="checkbox" class="filled-in" id="filled-in-box6" checked="checked" />
									<label for="filled-in-box6">Block 3</label>
								</p>
								<br>
								<p>
									<input type="checkbox" class="filled-in" id="filled-in-box7" checked="checked" />
									<label for="filled-in-box7"><b>Motor</b></label>
								</p>
								<p>
									&nbsp; &nbsp;
									<input type="checkbox" class="filled-in" id="filled-in-box8" checked="checked" />
									<label for="filled-in-box8">Block 4</label>
								</p>
								<p>
									&nbsp; &nbsp;
									<input type="checkbox" class="filled-in" id="filled-in-box9" checked="checked" />
									<label for="filled-in-box9">Block 5</label>
								</p>
								<p>
									&nbsp; &nbsp;
									<input type="checkbox" class="filled-in" id="filled-in-box10" checked="checked" />
									<label for="filled-in-box10">Block 6</label>
								</p>
								<p>
									&nbsp; &nbsp;
									<input type="checkbox" class="filled-in" id="filled-in-box11" checked="checked" />
									<label for="filled-in-box11">Block 7<i class="material-icons right">settings</i></label>
								</p>
								<br>
							</form>
						</div>
						<div id="runtime" class="tab-content">
							<div class="col s3">
								<h5> Widget disponibili </h5>
								<div class="resize-drag">
									Webcam <a style="color:white" class="modal-trigger" href="#modalWebcam"><i class="material-icons right">edit</i></a>
								</div>
								<div style="background-color: red"class="resize-drag">
									Valori Sensori <a style="color:white" class="modal-trigger" href="#modalSensors"><i class="material-icons right">edit</i></a>
								</div>
								<div style="background-color: black" class="resize-drag">
									Console <a style="color:white" class="modal-trigger" href="#modalConsole"><i class="material-icons right">edit</i></a>
								</div>
								<div class="resize-drag">
									Controlli Motori <a style="color:white" class="modal-trigger" href="#modalMotors"><i class="material-icons right">edit</i></a>
								</div>
							</div>
							<div style="background-color: #eeeeee ;   border: dashed 4px transparent; border-radius: 4px;   border-color: #aaa; "class="col s9">
								<div class="resize-container">
									<br><br><br>
									<center><p class="flow-text">Questa è la visuale in esecuzione. Trascina qui gli elementi disponibili.</p></center>
								</div>
							</div>
						</div>
					</div>
					<div class="col s1"></div>
				</div>
			</div>
			<!-- Modals -->
			<div id="modalWebcam" class="modal">
				<div class="modal-content" style="min-height: 200px">
					<h4>Widget Webcam</h4>
					Framerate
					<div  class="input-field inline">
						<select>
							<option value="1" selected>15</option>
							<option value="2">30</option>
							<option value="3">60</option>
						</select>
						<label class="select-label"></label>
					</div>
				</div>
				<div class="modal-footer">
					<a href="#!" class="modal-action waves-effect waves-green btn-flat">Impostazioni Predefinite</a>
					<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Applica</a>
				</div>
			</div>
			<div id="modalSensors" class="modal" style="font-size:20px ;max-height: 90%">
				<div class="modal-content" style="min-height: 790px">
					<h4>Widget Sensori</h4>
					Intervallo di Aggiornamento
					<div  class="input-field inline">
						<select>
							<option value="1" selected>0.1 secondi</option>
							<option value="2">0.5 secondi</option>
							<option value="3">1 secondo</option>
							<option value="3">Ad ogni pressione del pulsante "Aggiorna"</option>
						</select>
						<label class="select-label"></label>
					</div>
					<br>
					Sensori di cui visualizzare i valori rilevati in tempo reale:

					<div class="row">
							<div class="col">
								<input type="checkbox" id="us1" />
								<label for="us1">Ultrasuono 1 (Sinistra)</label>
							</div>
							<div class="col s6">
								<select>
									<option value="1" selected>Valore numerico da 1 a 10</option>
									<option value="2">Valore numerico 0/1</option>
									<option value="3">Valore numerico da 1 a 100</option>
									<option value="4">Grafico scala lineare colorato</option>
									<option value="5">Grafico scala lineare B/N</option>
									<option value="6">Led acceso o spento</option>
								</select>
							</div>
							
					</div>
										<div class="row">
							<div class="col">
								<input type="checkbox" id="us2" />
								<label for="us2">Ultrasuono 2 (Destra)</label>
							</div>
							<div class="col s6">
								<select>
									<option value="1" selected>Valore numerico da 1 a 10</option>
									<option value="2">Valore numerico 0/1</option>
									<option value="3">Valore numerico da 1 a 100</option>
									<option value="4">Grafico scala lineare colorato</option>
									<option value="5">Grafico scala lineare B/N</option>
									<option value="6">Led acceso o spento</option>
								</select>
							</div>
							
					</div>
										<div class="row">
							<div class="col">
								<input type="checkbox" id="us3" />
								<label for="us3">Ultrasuono 3 (Centro)</label>
							</div>
							<div class="col s6">
								<select>
									<option value="1" selected>Valore numerico da 1 a 10</option>
									<option value="2">Valore numerico 0/1</option>
									<option value="3">Valore numerico da 1 a 100</option>
									<option value="4">Grafico scala lineare colorato</option>
									<option value="5">Grafico scala lineare B/N</option>
									<option value="6">Led acceso o spento</option>
								</select>
							</div>
							
					</div>
					<div class="row">
							<div class="col">
								<input type="checkbox" id="mic_details" />
								<label for="mic_details">Microfono</label>
							</div>
							<div class="col s6">
								<select>
									<option value="1" selected>Valore numerico da 1 a 10</option>
									<option value="2">Valore numerico 0/1</option>
									<option value="3">Valore numerico da 1 a 100</option>
									<option value="4">Grafico scala lineare colorato</option>
									<option value="5">Grafico scala lineare B/N</option>
									<option value="6">Led acceso o spento</option>
								</select>
							</div>
							
					</div>
					<div class="row">
							<div class="col">
								<input type="checkbox" id="lightsensor" />
								<label for="lightsensor">Luce</label>
							</div>
							<div class="col s6">
								<select>
									<option value="1" selected>Valore numerico da 1 a 10</option>
									<option value="2">Valore numerico 0/1</option>
									<option value="3">Valore numerico da 1 a 100</option>
									<option value="4">Grafico scala lineare colorato</option>
									<option value="5">Grafico scala lineare B/N</option>
									<option value="6">Led acceso o spento</option>
								</select>
							</div>
							
					</div>
				</div>
			
			<div class="modal-footer">
				<a href="#!" class="modal-action waves-effect waves-green btn-flat">Impostazioni Predefinite</a>
				<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Applica</a>
			</div>
		</div>
		
		<div style="font-size:18px; width: 75% !important ; max-height: 100%" id="modalSave" class="modal">
			<div class="modal-content" style="min-height: 750px">
				<h4>Pulsante Toolbar "Salva"</h4>
				<div class="row">
				Qui puoi personalizzare l'aspetto e il comportamento di questo pulsante. 
				<a style="float:right" class="blue waves-effect waves-light btn"><i class="material-icons left">save</i>Salva</a>
				</div>
			<div class="row">
				
				<div class="input-field col">
					Preset
							<div  class="input-field inline">

								<select>
									<option value="1" selected>Icona + Testo</option>
									<option value="2" >Solo Testo</option>
									<option value="3" >Solo Icona</option>
									<option value="4" >Personalizzato</option>
								</select>
								<label class="select-label"></label>
							</div>
						</div>
				</div>
				<div class="row">
				<div class="input-field col">
					Tema
							<div  class="input-field inline">

								<select>
									<option value="1" selected>Rosso</option>
									<option value="2" >Verde</option>
									<option value="3" >Nero</option>
									<option value="4" >Personalizzato</option>
								</select>
								<label class="select-label"></label>
							</div>
						</div>
				</div>
				<div class="row">
					<div class="input-field col">
						Icona Pulsante
						<div class="input-field inline">
							<label for="icon"></label>
							<input type="text" class="use-material-icon-picker" value="android" name="icon">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="input-field col">
						<input placeholder="Salva" id="buttonLabel" type="text" class="validate">
						<label for="buttonLabel">Etichetta testuale</label>
					</div>
				</div>
				<div class="row">
					<div id="cpicker" class="input-field col">
						Colore
						<input id="mycp" type="text" class="form-control" />
					</div>
				</div>
				
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-action waves-effect waves-green btn-flat">Impostazioni Predefinite</a>
				<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Applica</a>
			</div>
		</div>
	</body>
</html>