<html>
	<head>
		<% include head.ejs %>
		<link rel="stylesheet" href="editor.css">
		<script type="text/javascript" src="interact.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.6.1/Sortable.min.js"></script>
		<script type="text/javascript" src="editor.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Source+Sans+Pro|Ubuntu" rel="stylesheet">
	</head>
	<body>
		<% include sidemenu.ejs %>
		<% include navbar.ejs %>
		<br>
		<div class="row">
			<div class="col s12">
				<div class="row">
					<div class="tabs">
						<ul class="tabs">
							<li class="tab">
								<a class="active" href="#general">Generali</a>
							</li>
							<li class="tab">
								<a  href="#toolbar">Barra degli Strumenti</a>
							</li>
							<li class="tab">
								<a href="#command">Palette dei Comandi </a>
							</li>
							<li class="tab">
								<a href="#runtime">Vista in Esecuzione</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="fixed-action-btn">
			<a class="btn-floating btn-large blue"> <b> SALVA </b>
			</a>
		</div>
		<div class="row">
			<div class="col s12">
				
				<div id="general" class="tab-content">
					
					<div class="row">
						<div class="col s6">
							<h5> Dati Progetto </h5>
							<br>
							<div class="input-field">
								<input value="Progetto 1" id="first_name2" type="text" class="validate">
								<label class="active" for="first_name2">Nome</label>
							</div>
							<div class="input-field ">
								<textarea id="textarea1" class="materialize-textarea"></textarea>
								<label for="textarea1">Descrizione</label>
							</div>
							Vista predefinita:
							<div  class="input-field inline">
								<select>
									<option value="1" selected>Visuale Esecuzione</option>
									<option value="2" >Editor di Blocchi</option>
									<option value="3" disabled>Editor Python</option>
								</select>
								<label class="select-label"></label>
							</div>
							<br>
							<h5> Tipografia </h5>
							<br>
							<div class="row">
								Grandezza Testo:
								<div  class="input-field inline">
									<select>
										<option value="1" selected>Piccolo</option>
										<option value="2">Medio</option>
										<option value="3">Grande</option>
									</select>
									<label class="select-label"></label>
								</div>
							</div>
							<div class="row">
								
								Carattere tipografico (<i>font</i>) dell'interfaccia:
								<form action="#">
									<p>
										<input name="group1" type="radio" id="test1" />
										<label style="font-family: 'Helvetica Neue'" for="test1">Helvetica Neue</label>
									</p>
									<p>
										<input name="group1" type="radio" id="test2" />
										<label style="font-family: 'Open Sans', sans-serif;" for="test2">Open Sans</label>
									</p>
									<p>
										<input class="with-gap" name="group1" type="radio" id="test3"  />
										<label style="font-family: 'Lato', sans-serif;" for="test3">Lato</label>
									</p>
									<p>
										<input name="group1" type="radio" id="test4" />
										<label style="font-family: 'Ubuntu', sans-serif;" for="test4">Ubuntu</label>
									</p>
									<p>
										<input name="group1" type="radio" id="test5" />
										<label style="font-family: 'Source Sans Pro', sans-serif;" for="test5">Source Sans Pro</label>
									</p>
								</form>
								
							</div>
						</div>
						<div class="col s6">
							<h5> Funzioni </h5>
							<br>
							<form action="#">
									<div class="row">
										Editor Python
										<div class="input-field inline">
											<select>
												<option value="1" selected>Disabilitato</option>
												<option value="2">Base</option>
												<option value="3">Intermedio</option>
												<option value="4">Completo</option>
											</select>
											<label class="select-label"></label>
										</div>
									</div>
								<p>
									
									<div class="row">
										Salva automaticamente
										<div class="input-field inline">
											<select>
												<option value="1" selected>Mai (Disabilitato)</option>
												<option value="2">Prima di ogni esecuzione</option>
												<option value="3">Ogni Minuto</option>
												<option value="4">Ogni 5 Minuti</option>
												<option value="5">Ogni 30 Minuti</option>
												<option value="6">Ogni Ora</option>
											</select>
											<label class="select-label"></label>
										</div>
									</div>
									Aggiorna cronologia modifiche
									<div class="input-field inline">
										<select>
											<option value="1" selected>Mai (Disabilitato)</option>
											<option value="2">Prima di ogni esecuzione</option>
											<option value="3">Ogni Minuto</option>
											<option value="4">Ogni 5 Minuti</option>
											<option value="5">Ogni 30 Minuti</option>
											<option value="6">Ogni Ora</option>
										</select>
										<label class="select-label"></label>
									</div>
								</p>
								<p>
									<input type="checkbox" id="pyExportCheckbox" />
									<label for="pyExportCheckbox">Permetti di <b>visualizzare</b> il codice Python generato</label>
								</p>
								<p>
									<input type="checkbox" id="pyEditCheckbox" />
									<label for="pyEditCheckbox">Permetti di <b>modificare</b> il codice Python generato</label>
								</p>
								
							</form>
						</div>
					</div>
					
					
				</div>
				
				<div id="toolbar" class="tab-content active">
					toolbar
				</div>
				
				<div id="command" class="tab-content">
					Palette Comandi
				</div>
				<div id="runtime" class="tab-content">
					<form action="#">
						<p>
							<input onclick="enableRuntime()" type="checkbox" id="runtimeCheckbox" />
							<label for="runtimeCheckbox">Abilita Vista in Esecuzione</label>
						</p>
					</form>
				</div>
			</div>
			<div class="col s1"></div>
		</div>
	</div>
</body>
</html>