		<nav>
			<div class="nav-wrapper  blue darken-3">
				&nbsp;&nbsp;&nbsp;
				<a href="#" data-activates="slide-out" class="brand-logo"><i style="font-size:30px" class="material-icons">menu</i><b>CoderBot</b>  <%= title %></a>



				<ul class="right hide-on-med-and-down">
					<li><a href="#"> <i class="material-icons left">check_circle</i>ONLINE</a></li>
					<li><a href="#"><i class="material-icons left">signal_wifi_4_bar</i> HomeWiFi</a></li>
					<li><a href="#"><i class="material-icons left">battery_full</i>60%</a></li>
				</ul>
			</div>
		</nav>