	<ul id="slide-out" class="side-nav">&ensp;
			     <li><a class="waves-effect" href="/"><i class="material-icons left">home</i>Home</a></li>

	 <li><a class="subheader">Utente</a></li>
	 <li><a class="waves-effect" href="#!"><i class="material-icons left">account_box</i>Luigi Beretta <span style="font-size:12px" class="badge">INSEGNANTE</span></a></li>
	 <li><a><i class="material-icons left">exit_to_app</i>Esci</a></li>
	 <li><div class="divider"></div></li>
	 <li><a class="subheader">Attività</a></li>
    <li><a class="waves-effect" href="editor"><i class="material-icons left">add</i>Nuova</a></li>
    <li><a class="waves-effect" href="#!"><i class="material-icons left">open_in_new</i>Apri</a></li>
    <li><a class="waves-effect" href="/"><i class="material-icons left">close</i>Chiudi</a></li>

    <li><div class="divider"></div></li>
    <li><a class="subheader">Altro</a></li>
    <li><a class="waves-effect" href="settings"><i class="material-icons left">settings</i>Impostazioni</a></li>

  </ul>